- block:
    - name: Install Apache web server
      package:
        name: apache2
        state: present
      tags:
        - web
        - dev

    - name: Enable PHP module in Apache
      command: "a2enmod {{ php_module }}"
      notify: restart apache
      tags:
        - web
        - dev

    - name: Deploy Apache virtual host configuration
      template:
        src: vhost.conf.j2
        dest: /etc/apache2/sites-available/000-default.conf
      notify: restart apache
      tags:
        - web
        - dev

  rescue:
    - debug:
        msg: "Failed to install Apache or enable PHP module."

  always:
    - debug:
        msg: "Web role finished execution."
